.container {
    width: 80vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    margin: auto;
    margin-bottom: 50px;
  }
  .container-c {
    width: 80vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin: auto;
    margin-bottom: 50px;
  }
  .container-95 {
    width: 95vw;
    
  }