.container {
    width: 80vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    margin: auto;
    margin-bottom: 50px;
  }
  
  .container-95 {
    width: 95vw;
  }