.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 76px;
  width: 70%;
  background: #101418;
  margin:  auto;
  margin-top: 6rem;
}

.logo {
  width: 79px;
  height: 76px;
  margin-right: 20px;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 20px;
}
.nav-links li a {
  font-size: 22px;
  color:#a08040;
  text-decoration: none;
}

.book-button {
  width: 272px;
  height: 76px;
  background-color: #a08040;
  color: #fff;
}
