@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");


*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
.background-container {
  background-image: url('./assets/background.gif');
  height: 100%;
  
}